<!DOCTYPE html>
<html>

<head>
    <title>Grind Hard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
</head>

<body>
    <a class="ui green basic button" href="/">Home</a>
    <h1>Results are here</h1>
    <% if(data["prediction"]=="[1]") { %>
    <h1>person survived </h1>
    <%} else {%>
    <h1>person died</h1>
    <% } %>
</body>